* {
    margin: 0;
    padding: 0;
    outline: 1px solid black;
    font-family: cursive;
    font-weight: 100;
}

.container {
    display: flex;
    flex-direction: column;
    margin-inline: 18%;
    text-align: center;
    display: flex;
}

.contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.definiciones {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.añadir-definicion {
    display: flex;
    flex: 1;
    justify-content: end;
}

nav {
    background-color: #CCCCCC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 30px;
    padding-block: 10px;
    flex-wrap: wrap;
}

#search {
    font-size: 17px;
    margin-block: 8px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
    width: 50%;
}

#login {
    background-color: #2B78E4;
    color: #fff;
    padding: 2px 1px;
    margin: 10px;
    font-size: 20px;
    border: 2px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 1);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

.header {
    display: flex;
    flex: 1;
    margin: 6px;
    justify-content: space-between;
    align-items: center;
}

.likes button{
    background-color: #FFD966;
    padding: 3px 5px;
    margin: 10px;
    font-size: 20px;
    width: 100px;
    height: 40px;
    font-weight: 600;
    border: 2px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.likes {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    margin-top: 12px;
}

.card-1 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 5px solid black;
    border-radius: 3px;
    width: 80%;
    height: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.contenido-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    flex-wrap: wrap;
}

.definicion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 30px;
}

.card-2 {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    align-self: center;
    border: 5px solid black;
    border-radius: 3px;
    width: 100%;
    height: 30%;
    margin-bottom: 100%;
}

.card-2 h2 {
    font-size: 26px;
    margin-inline: 8%;
}

#add {
    background-color: #93C47D;
    padding: 2px 1px;
    margin: 26px;
    font-size: 16px;
    width: 160px;
    border: 2px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 1);
    cursor: pointer;
}

strong {
    font-weight: 600;
}