*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
        /*outline: solid 1px black;*/
}

.padre{
    display: flex;
    height: 830px;
    padding: 50px 250px;
}

.izquierdo{
    flex:1;
    display: flex;
    flex-direction: column;
}

.derecho{
    display: flex;
    flex: 1;
}

.cuadro1 {
    display: flex; 
    height: 450px;
    width: 700px;
    flex: 1;
        /*border: solid 3px blue;*/
}

.box-1{
    flex: 1;
    height: 390px;
    width: 460px;
        /*border: solid 3px green;*/
}

.box-2 {
    flex: 1;
    height: 390px;
    width: 100px;
        /*border: solid 3px yellow;*/
}

.hijo-1{
    height: 260px;
    background-color: #B3B5B4;
    margin: 20px;
}

.hijo-2{
    height: 80px;
    background-color:#B3B5B4 ;
    margin: 20px;
}

.hijo-3 div{
    height: 170px;
    width: 180px;
    background-color: #B3B5B4;
    margin: 20px;
}

.cuadro2{
    display: flex;
    height: 345px;
    width: 600px;
    flex: 1;
    /*border: solid 3px red;*/
}

.box-3{
    height: 340px;
    width: 250px;
    /*border: solid 3px blue;*/
}

.box-4{
    flex: 1;
    height: 340px;
    width: 320px;
    /*border: solid 3px magenta;*/
}

.hijo-4{
    height: 320px;
    width: 205px;
    /*border: solid 1px brown;*/
    background-color: #B3B5B4;
    margin: 20px;
}

.hijo-5 div{
    height: 150px;
    width: 280px;
    /*border: solid 1px green;*/
    background-color: #B3B5B4;
    margin: 20px;
}

.cuadro3{
    display: flex;
    height: 730px;
    width: 700px;
    /*border: solid 3px red;*/
}

.box-5{
    display: flex;
    flex:1;
    /*border: solid 3px magenta;*/
    flex-direction: column;
}

.box-6{
    display: flex;
    flex:1;
    /*border: solid 3px blue;*/
    flex-direction: column;
}

.hijo-7{
    background-color: #B3B5B4;
    flex: 1;
    margin: 20px;
    width: 250px;
}

.box-7{
    display: flex;
    flex: 1;
    /*border: solid 3px green;*/
    flex-direction: row-reverse;
    width: 300px;
}

.hijo-8{
    display: flex;
    /*border: solid 3px aqua;*/
    flex: 1;
    flex-direction: column;
}

.hijo-9{
    flex: 1;
    background-color: #B3B5B4;
    margin: 20px;
}

.sub-hijo{
    flex: 1;
    background-color: #B3B5B4;
    margin: 20px;
}

.sub-hijo2{
    flex: 1;
    background-color: #B3B5B4;
    margin: 20px;
}

.box-8{
    display: flex;
    flex: 1;
    /*border: solid 3px black;*/
    flex-direction: column;
}

.hijo-10{
    background-color: #B3B5B4;
    flex: 1;
    margin: 20px;
    width: 220px;
}

.hijo-11{
    background-color: #B3B5B4;
    flex: 3;
    margin: 20px;
    width: 220px;
}
